@font-face {
  font-display: swap;
}


html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


/*       burger        */


.open {
  position: fixed;
  top: 24px;
  right: 36px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  z-index: 100;
}

.open:hover {
  opacity: 0.8;
}

.open span {
  display: none;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #1cb532;
  position: absolute;
  right: 40px;
  top: 20px;
  transition: all 0.4s ease;
  position: fixed;
}
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
.open span:nth-child(2) {
  margin-top: 25px;
}
.open span:nth-child(3) {
  margin-top: 40px;
}
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(28, 181, 50, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sub-menu li:first-child {
  margin-top: 180px;
}
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
}
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.2s;
}
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
.sub-menu li a {
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
  margin-top: 20px;
  margin-right: 30px;
}
.oppenned span:nth-child(2) {
  overflow: visible;
}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(28, 181, 50, 0.54);
}
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.oppenned li {
  margin-right: 168px;
}
.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
.button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
.button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
.button:hover {
  text-decoration: none;
}
.button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
.button:hover:before {
  transform: translateY(0);
}

/*       burger        */

.gotoup {
    position: fixed;
    visibility: visible;
    left: 87%;
    top: 90%;
    z-index: 999;
}

.back {
    background: rgba( 255, 255, 255, 0.5);
    height: 92px;
}

.navigation {
    font-size: 16px;
    margin-left: 30px;
    color: #000;
    font-weight: 400;
    transition: .2s;
}

.navigation:hover{
    font-weight: 600;
    color: #1cb532; 
    text-decoration: none;
}

.active-nav {
    font-weight: 600;
    color: #1cb532;
}

.links {
    margin-top: 35px;
}

.phone {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    transition: .8s;
}

.phone:hover {
    color: #1cb532;
    transition: .8s;
    text-decoration: none;
}

.operators {
    font-size: 13px;
    text-align: right;
    font-variant: small-caps;
    line-height: 12px;
    font-weight: 500;
}

.contacts {
    margin: 15px 0 0 70px;
}

.logo {
    color: #1cb532;
    font-size: 35px;
    font-weight: 900;
    margin-top: 20px;
}

h1 {
    font-weight: 900;
    font-size: 29px;
    text-align: center;
    margin: 130px auto 0 auto;
}

.green{
    color: #1cb532;
} 


.oplata {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
}

.raschet {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}

.first-form {
    margin: 120px auto 0 auto;
}

.nav {
    margin: 0 auto;
    width: 1170px;
}

.green-button  {
    width: 240px;
    height: 56px;
    border-radius: 28px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #1cb532;
    border: none;
    transition: 1s;
    cursor: pointer;
}

.green-button:hover {
    box-shadow: 0 6px 8px rgba(28, 187, 51, 0.3);
    transition: .6s;
}

input {
    width: 240px;
    height: 56px;
    border-radius: 28px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px #fff;
    background-color: #e1e1e1;
    text-align: center;
}

.form {
    margin: 20px auto 110px auto;
    width: 590px;
    display: flex;
}

.mouse > img {
    display: block;
    margin: 30px auto 10px auto;
}

.rectangle {
    display: block;
    margin: 50px auto;
    width: 1px;
    height: 23px;
    background-color: #000;
}

.title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 70px auto;
}

.gives {
    width: 1170px;
    margin: 15px auto;
}

.description {
    float: right;
    margin-top: 27px;
    font-size: 15px;
}

.gives > img {
    width: 125px;
    margin-left: 50px;
} 
    

table {
    text-align: center;
    font-size: 15px;
}

.section2 {
    background: url("../img/house.jpg") no-repeat left top / cover;
}

.center-button {
    margin: 40px auto 20px auto;
}

.fs30 {
    font-size: 30px;
    font-weight: 900;
}

.garant {
    font-size: 15px;
    margin-bottom: 40px;
}

.card {
    height: 360px;
    padding: 0;
    border: none;
    margin: 0 28px;
    border-bottom: solid 2px #1cb532;
}

.img-house1 {
    height: 180px;
    color: aqua;
}

.named-house {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    margin-top: 30px;
}

.specifications-house {
    text-align: center;
    font-size: 13px;
}

.price {
    text-align: center;
    padding: inherit;
    color: #000;
    padding: 13px;
}

.price:hover {
    text-decoration: none;
    color: #1cb532;
    transition: 1s;
}

.card:hover {
    box-shadow: 0 12px 20px rgba(28,181,50,0.2);
    border-bottom: none;
    transition: 1s;
    cursor: pointer;
}

.card:hover .img-overlay {
    background: none;
}

.price > img {
    margin: -4px 0 0 10px;
}

.img-house1 {
    width: 100%;
    height: 180px;
    background: url("../img/d135.png") no-repeat center top/ cover;
}

.img-house2 {
    width: 100%;
    height: 180px;
    background: url("../img/d131.png") no-repeat center top/ cover;
}

.img-house3 {
    width: 100%;
    height: 180px;
    background: url("../img/d136.png") no-repeat center top/ cover;
}

.img-house4 {
    width: 100%;
    height: 180px;
    background: url("../img/d117.png") no-repeat center top/ cover;
}

.img-overlay {
    width: 100%;
    height: 100%;
    transition: 1s;
    background: rgba(225,225,225,0.8);
}

.cards {
    display: inherit;
    margin-left: -20px;
    padding: 0;
    max-width: 100vh;
}

.feedback {
    margin-top: 50px;
    background-color: #f1f1f1;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmJmYmZiIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmJmYmZiIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(251, 251, 251)),color-stop(0.5, rgb(230, 230, 230)),color-stop(1, rgb(251, 251, 251)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(left,rgb(251, 251, 251) 0%,rgb(230, 230, 230) 50%,rgb(251, 251, 251) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to right,rgb(251, 251, 251) 0%,rgb(230, 230, 230) 50%,rgb(251, 251, 251) 100%);
    background-image: -ms-repeating-linear-gradient(left,rgb(251, 251, 251) 0%,rgb(230, 230, 230) 50%,rgb(251, 251, 251) 100%);

}

.yourself-project {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;  
}

.free {
    font-size: 20px;
    font-weight: 800;
}

.request {
    margin-right: 25px;
}

.request-button {
    border: solid 2px #1cb532;
    background: #fff;
    padding: 0;
    cursor: pointer;
    font-size: 15px;
    color: #1cb532;
    transition: 1s;
}

.request-button:hover {
    background-color: #1cb532;
    color: #fff;
    transition: 1s;
}


.second-form {
    margin: 35px auto 70px auto;
}

.section4 {
    background:  url("../img/bg3.jpg") no-repeat center top / cover;
}

.main-photo {
    width: 365px;
    height: 190px;
    background: url(../img/d135.png) no-repeat center top / cover;
}

.submain-photo {
    height: 65px;
    width: 365px;
    margin-top: 10px;
}

.sub-photo {
    height: 65px;
    width: 108px;
    display: inline-block;
    margin: 0 5px;
    background: url(../img/d135.png) no-repeat center top / cover;
}

.main-photo img {
    width: 70px;
    margin: 60px 145px;
    opacity: 0;
    transition: .7s;
    position: absolute;
}

.main-photo:hover img {
    opacity: 1;
}

.photo-overlay {
    transition: 1s;
    height: 190px;
}

.main-photo:hover .photo-overlay {
    background: rgba(0,0,0,0.5);
    transition: 1s;
}

.adress {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.slide {
    height: 340px;   
}

.slide-text {
    float: left;
    margin: 45px 0 0 75px;
}

.slide-photo {
    float: left;
}

.foot-feedback {
    height: 240px;
    width: 365px;
    background: #fff;
    float: left;
    margin-left: 75px;
    margin-top: 15px;
}

.slides {
    width: 1170px;
}

.slick-prev {
    left: -50px;
    background-image: url(../img/left-arrow2.png);
    transition: .9s;
}

.slick-prev:hover {
    left: -57px; 
    transition: .5s;
}

.slick-next {
    right: -50px;
    background-image: url(../img/right-arrow.png);
    transition: .9s;
}

.slick-next:hover {
    right: -57px; 
    transition: .5s;
}

.slick-dots {
    bottom: 30px;
}

.slick-prev.slick-disabled {
    background-image: url(../img/left-arrow3.png);    
}

.slick-next.slick-disabled {
    background-image: url(../img/right-arrow2.png);    
}


.mous {
    position: absolute;
    left: 49.58%;
    top: 648px;
}

.info {
    text-align: center;
    font-size: 15px;
    margin: 13px auto 20px auto;
    padding: 0 200px;
}

.soc {
    height: 70px;
    width: 380px;
    margin: 0 auto 80px auto;
    display: flex;
}


.soc-block {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    border-radius: 10px;
    transition: 1s;
    border: solid 1px #e1e1e1;
}

.soc-block:hover {
    transition: 1s;
    border: solid 1px #e1e1e1;
}

.inst {
    background: #e1e1e1 url(../img/society/inst.png) no-repeat center;
    transition: 1s;
}

.inst:hover {
    background: #fff url(../img/society/inst-active.png) no-repeat center;
    transition: 1s;
}

.yt {
    background: #e1e1e1 url(../img/society/yt.png) no-repeat center;
    transition: 1s;
}

.yt:hover {
    background: #fff url(../img/society/yt-active.png) no-repeat center;
    transition: 1s;
}

.fb {
    background: #e1e1e1 url(../img/society/fb.png) no-repeat center;
    transition: 1s;
}

.fb:hover {
    background: #fff url(../img/society/fb-active.png) no-repeat center;
    transition: 1s;
}

.vk {
    background: #e1e1e1 url(../img/society/vk.png) no-repeat center;
    transition: 1s;
}

.vk:hover {
    background: #fff url(../img/society/vk-active.png) no-repeat center;
    transition: 1s;
}

.ok {
    margin-right: 0;
    background: #e1e1e1 url(../img/society/ok.png) no-repeat center;
    transition: 1s;
}

.ok:hover {
    background: #fff url(../img/society/ok-active.png) no-repeat center;
    transition: 1s;
}

form {
    margin: 0 auto;
}

.section5 {
    background: url(../img/bg4.jpg) no-repeat center top / cover;
}

.photo {
    
}

.photo-manager {
    width: 410px;
    height: 260px;
    border: 1px solid #fff;
    float: left;
}

.words {
    float: left;
    font-size: 15px;
    width: 700px;
    margin: 17px 0 0 30px;
}

.manager {
    margin-bottom: 100px;
}

footer {
    height: 160px;
    background: #1cb532;
}

.icons-footer {
    margin-top: 55px;
}

.icon-footer {
    filter: brightness(100);
    margin-right: 23px; 
}

.icon-footer:hover {
    -webkit-filter: drop-shadow(0 5px 8px #299539);
    filter: drop-shadow(0 5px 8px #299539);
}

.politics {
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px #fff;
    margin: 75px 0 0 120px; ;
    opacity: 0.8;
    transition: .3s;
}

.politics:hover {
    margin-top: 80px;
    transition: .9s;
    color: #fff;
    opacity: 1;
    transition: .3s;
    text-decoration: none;
    
}

.cont-footer {
    text-align: right;
    color: #fff;
    font-size: 15px;
    margin: 40px 0 0 120px;
}

.popup-housae {
    width: 
}

.bg-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.65);
    display: none;
}

.popup-house {
    height: 500px;
    width: 1170px;
    margin: 15px;
    padding: 78px 50px 75px 95px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    z-index: 100;
    position: absolute;
    display: none;
}

.b-close {
    margin: -145px 0 0 1036px;
    position: absolute;
    z-index: 101;
    cursor: pointer;
}

.img-house {
    width: 400px;
    height: 348px;
    float: left
}


.img-house-s {
    margin-top: 17px;
}

.info-house {
    float: left;
    margin: 26px 0 0 195px;
    width: 360px;
}

.tech {
    font-size: 15px;
    margin-top: 15px;
}

.want-house {
    margin: 270px 0 0 500px;
}

.left-house {
    position: absolute;
    left: 50px;
    top: 240px;
}

.right-house {
    position: absolute;
    left: 515px;
    top: 240px;
}

.popup-politics {
    width: 1170px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 25px 30px rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    z-index: 100;
    position: absolute;
    display: none;
}

.title-politics {
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    font-size: 30px
}

.container-politics {
    padding: 50px;
}

.text-politicsa {
    margin-top: 40px;
    font-size: 15px;
}

.pos-apolitics {
    margin: -65px 0 0 1130px;
}

.popup-table {
    width: 1170px;
    height: 700px;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    z-index: 100;
    position: absolute;
    display: none;
}

.bold {
    font-weight: 600;
}

.call {
    width: 450px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 25px;  
}

.popup-table::-webkit-scrollbar {
        width: 10px;
    }

.popup-table::-webkit-scrollbar-track {
  background: inherit; 
}

.popup-table::-webkit-scrollbar-thumb {
  background: #1cb532; 
}

@media screen and (max-width: 1440px) {
    .mous {
        left: 49.3%;
    }
}
    
@media screen and (max-width: 1024px) {
    
    body {
        overflow-x:hidden;
    }
    
    .cards {
        width: 70%;
        height: 70%;
        margin-left: 31px;
    }
    
    .img-house1, .img-house2, .img-house3, .img-house4 {
        height: 165px;
    }
    
    .specifications-house {
        font-size: 12px;
    }
    
    .foot-feedback {
        display: none;
    }
    
    .slide {
        margin-left: 90px;
        widows: 800px;
    }
    
    .slick-prev {
        left: 25px;
    }
    
    .slick-next {
        left: 865px;
    }
    
    .gives > img {
        width: 110px;
    }
    
    .description {
        margin-top: 20px;
    }
    
    .navigation {
        font-size: 15px;
        margin-left: 16px;
    }
    
    .logo {
        font-size: 31px;
    }
    
    .phone {
        font-size: 18px;
    }
    
    .operators {
        font-size: 11px;
    }
    
    .contacts {
        margin: 18px 0 0 70px;
    }
    
    h1 {
        font-size: 25px;
        line-height: 36px;
    }
    
    .oplata {
        margin-top: 20px;
        font-size: 20px;
    }
    
    .mouse {
        display: none;
    }
    
    .raschet {
        margin: 20px auto;
    }
    
    .center-button {
        margin: 40px auto 20px 365px;
    }
    
    .second-form {
        margin: 35px auto 70px 100px
    }
    
    .request-button {
        margin: 20px 0 0 275px;
    }
    
    .words {
        text-align: center;
    }
    
    .photo-manager {
        margin-left: 270px;
    }
    
    .words {
        margin: 34px 0 0 127px;
    }
    
    .icon-footer {
        width: 45px;
        margin-right: 12px;
    }
    
    .politics {
        margin: 75px 0 0 60px;
    }
    
    .cont-footer {
        margin: 40px 0 0 70px;
    }
    
    .popup-table {
        width: 90%
    }
    
    .pop-table {
        width: 90%    
    }
}

@media screen and (max-width: 768px) {
    
    .open {
       display: block;
    }
    
    .g-mobile {
        font-size: 16px !important;
    }
    
    .img-house1, .img-house2, .img-house3, .img-house4 {
        height: 110px;
    }
    
    .gives {
        width: 624px;
        margin: 13px 0 0 0;
    }
    
    .card {
        height: 330px;
    }
    
    .price {
        font-size: 16px;
    }
    
    .cards {
        margin-left: -5px;
    }
    
    .img-overlay {
        width: 100%;
        height: 100%;
        transition: 1s;
        background: inherit;
    }
    
    .description {
        font-size: 20px;
        text-align: center;
    }
    
    .gives > img {
        margin-top: 30px;
        margin-left: 320px;
    }
    
    .center-button {
        margin: 30px auto 20px 247px;
    }
    
    .pop-table {
        font-size: 20px;
    }
    
    .request-button {
        margin: 0;
    }
    
    .open span {
        display: block;
    }
    
    .links {
        display: none;
    }
    
    .logo {
        margin-left: 45px;
    }
    
    .contacts {
        margin: 12px 0 0 70px;
    }
    
    .phone {
        font-size: 25px;
    }
    
    .gotoup {
        display: none;
    }
    
    .main-photo {
        width: 300px;
        height: 170px;
    }
    
    .sub-photo {
        height: 50px;
        width: 89px;
    }
    
    .slide-text {
        margin: 35px 0 0 -30px;
    }
    
    .slide {
        margin-left: 53px;
    }
    
    .slick-prev, .slick-next, .slick-prev, slick-arrow {
        left: -20%;
    }
    
    .slick-dots {
        left: -230px;
    }
    
    .photo-manager {
        margin-left: 21%;
    }
    
    .words {
        margin: 34px 0 0 10px;
    }
    
    .icon-footer {
        margin-right: 7px;
    }
    
    .cont-footer {
        margin: 40px 0 0 10px;
        font-size: 12px;
    }
    
    .icon-footer {
        width: 35px;
    }
    
    .politics {
        margin: 75px 0 0 30px;
        font-size: 13px;
    }
    
}


@media screen and (max-width: 425px) {

    .contacts {
        display: none;
    }
    
    h1 {
        font-size: 21px;
        line-height: 34px;
    }
    
    .logo {
        margin-top: 25px;
    }
    
    .form {
         margin: 20px auto 110px auto;
         width: auto; 
         display: block; 
    }
    
    .green-button {
        width: 300px;
        font-size: 17px;
        cursor: pointer;
        margin-left: 68px;
        margin-top: 20px;
    }
    
    input {
        width: 300px;
        font-size: 18px;
        margin-left: 78px !important;
    }
    
    .gives > img {
        margin-top: 30px;
        margin-left: 170px;
    }
    
    table {
        width: 90%;
        margin: 0 auto;
        font-size: 12px;
    }
    
    .pop-table {
        font-size: 15px;
    }
    
    .garant {
        padding: 0 35px;
    }
    
    .call {
        width: auto;
    }
    
    .info {
        padding: 0;
    }
    
    .cards {
         display: block;
        margin-left: 35px;
    }
    
    .img-house1, .img-house2, .img-house3, .img-house4 {
        height: 170px;
    }
    
    .card {
        height: 350px;
    }
    
    .second-form {
        margin: 35px auto 70px -10px;
    }
    
    .request {
        margin-bottom: 10px;    
    }
    
    .main-photo {
        width: 200px;
        height: 112px;
    }
    
    .slide{
        height: 240px;
    }
    
    .slide-text {
        margin: 5px 0 0 -193px;
    }
    
    .sub-photo {
        height: 38px;
        width: 54px;
    }
    
    .adress {
        font-size: 15px;
    }
    
    .slide {
        width: 400px;
        margin-left: 15px;
    }    
    
    .adress {
        font-size: 13px;
        padding-top: 7px;
        text-align: left;
        margin-left: 36px;
    }
    
    .garant {
        font-size: 10px;
        text-align: left;
    }
    
    .slick-dots {
        left: -369px;
    }
    
    .photo-manager {
        margin-left: 1%;
    }
    
    .words {
        margin: 30px 0 0 -138px;
        font-size: 9px;
    }
    
    .cont-footer {
        display: none;
    }
    
    .icons-footer {
        margin-top: 29px;
        margin-left: 22%;
    }
    
    .politics {
        margin: 27px 0 0 94px;
    }
    
    footer {
        height: 125px;
    }
    
    .form > button {
        margin-left: 80px;
    }
    
}
    
@media screen and (max-width: 375px) {
    
    .green-button {
        margin-left: 4%;
        margin-bottom: 20px;
    }
    
    input {
        width: 300px;
        font-size: 18px;
        margin-left: 11% !important;
    }
    
    .green-button {
        margin-left: 10%;
    }
    
    .form > button {
        margin-left: 11% !important;
    }
    
    .gives > img {
        margin-top: 30px;
        margin-left: 37%;
    }
    
    .title {
        font-size: 24px;
    }
    
    .garant {
        font-size: 14px;
    }
    
    .garant {
        font-size: 10px;
    }
    
    .slick-dots {
        left: -34%;
    }
    
    .photo-manager {
        width: 64%;
        height: 57%;
    }
    
    .words {
        margin: 38px 0 0 -164px;
        font-size: 8px;
    }
    
    .garant {
        font-size: 9px;
        text-align: left;
    }
    
    .soc-block {
        height: 60px;
        width: 60px;
    }
    
    .soc {
        height: 70px;
        width: 380px;
        margin: 0 0 80px 5%;
    }
    
    .photo-manager {
        margin-left: 3%;
    }
    
    .politics {
        margin: 24px 0 0 82px;
    }
    
}

@media screen and (max-width: 320px) {
    
    .oplata {
        margin-top: 20px;
        font-size: 12px;
    }
    
    .logo {
        font-size: 27px;
        margin-left: 24px;
    }
    
    .raschet {
    font-size: 12px;
    }
    
    input {
        margin-left: 3% !important;
    }
    
    .form > button {
        margin-left: 3% !important;
    }
    
    .green-button {
        margin-left: 3%;
    }
    
    table {
        font-size: 10px;
    }
    
    .card {
        margin: 0 12px;
    }
    
    .second-form {
        margin: 32px auto 70px 0px;
    }
    
    .soc-block {
        height: 50px;
        width: 50px;
    }
    
    .photo-manager {
        margin-left: -1%;
    }
    
    .words {
        margin: 38px 0 0 -189px;
        font-size: 7px;
    }
    
    .icons-footer {
        margin-top: 29px;
        margin-left: 17%;
    }
    
    .politics {
        margin: 24px 0 0 54px;
    }
    
    .title {
        font-size: 21px;
    }
    
    .main-photo {
        width: 162px;
        height: 87px;
    }
    
    .submain-photo {
        display: none;
    }
    
    .slide-text {
        margin: -9px 0 0 -33px;
    }
    
    .adress {
        font-size: 10px;
        padding-top: 8px;
        text-align: left;
        margin-left: 36px;
    }
    
    .garant {
        font-size: 7px;
        text-align: left;
    }
    
    .slide {
        height: 171px;
    }
    
    .slick-dots {
        left: -36.4%;
    }
    
    .gives > img {
        margin-left: 34%;
    }
}
    


































